Source: midi2osc2
Section: unknown
Priority: extra
Maintainer: midi2osc2 <midi2osc2@kepler22b.uk>
Build-Depends: cmake, debhelper (>=9)
Standards-Version: 3.9.8
Homepage: https://midi2osc.kepler22

Package: midi2osc2
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Midi2Osc maps midi devices into osc
 midi2osc can is run on a device connected to a midi device and maps data
 between midi and osc. It is configured using a web based interface using
 websockets.
