.hidden{
  visibility: hidden;
}

.show{
}

.table{
border-collapse:collapse;
border:1px solid;
}

.table td{
border:1px solid;
padding: 5px;
}

.table th{
border:1px solid;
padding: 5px;
}

.pullbottom{
  bottom: 0px;
  position: fixed;
}
