.navbar-custom {
  background-color: #002030;
  padding-top: 0px;
  padding-bottom: 0px;
}

.bodypadding {
  margin-top: 110px;
  margin-bottom: 125px;
}

.toc-inline {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

